.navbar {
    background-color: #6c9595;
    color: white;
    height: 56px;

}

.menu {
    color: #6c9595;
    font-size: 20px;
    padding: 16px 0;
}

.bg-white {
    border-radius: 4px;
    border: none;
    padding: 16px;
}

.cup-image img {
    max-height: 150px;
}